In [ ]:
"""
@Authors:                   @Email:
* Shaiful                     shaiful019@gmail.com
* Rezwanul                    rezwanul.cse@gmail.com
* Oli
* Habibul                     shovon2111@gmail.com
* Tahmid
"""

# Problem: Return to Origin (RTO) Customers Prediction
 Problem class: Supervised Classification
 
 Problem dataset link: Real dataset so no online link.
 
 Problem description: 
 
     RTO (Return to Origin) is a Classification Problem in eCommerce platforms where Many customers cancel their order when the   product is already on shipping. Then customer don't response and the product is return back to office.
 
 Problem Task:
     Have to predict who will Cancel the product order after product is already on shipping.

# Importing libraries

In [2]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set()

# Feature or column description

COLUMN DESCRIPTIONS:
* Order Id
* User Id
* Order Value (In BDT, amount of the order)
* Payment Type (How, customers paid for it. MPD/MPC = Manual, means Cash on delivery. MPS = Bkash, Rocket type mobile payments. * OPS = online credit card, debit card. ADC = AD Cash (can be earned, can be recharged), EMI = Monthly EMI Purchase )
* District (Where customers are getting delivered)
* OrderSource (Android, Mobile Site or Desktop Site)
* Order Type for Delivery ( Express = Quick delivery and paid more for it, Normal = average delivery)
* Delivery Charge ( for the delivery)
* Order Placing Date (When customer placed the order)
* Order Confirmation date (Office make calls to confirm the order. It call is made late, they might not want the product later)
* IsCartOrder (is it a cart order or single product order)
* OrderFromPromotionalEvent (Is product purchased in discount from a promotional event or not)
* courierService (Courier service used by the customer)
* isRTO ( Order canceled after product is already on shipping )

# Load Dataset & Merging the datasets

In [25]:
df_1 = pd.read_csv("dataset/RTOdata.csv")
df_2 = pd.read_csv("dataset/RTO_data_new.csv")

# Merging
df = pd.concat([df_1, df_2], ignore_index=True)
# type(df_1)
# type(df_2)
df.shape

(20000, 14)

In [26]:
# df.head()
df.tail()

,OrderId,UserId,OrderValue,PaymentType,District,OrderSource,OrderType,DeliveryCharge,OrderPlacedDay,OrderConfirmDayOverPhone,IsCartOrder,OrderFromPromotionalEvent,courierService,isRTO
19995,2610588,901210,187,MPD,Nilphamari,android,normal,60.0,7/17/2019 19:29,7/17/2019 13:33,No,Yes,Bangladesh Postal Service ...,Yes
19996,2610586,528636,235,MPS,Sylhet City,android,normal,0.0,7/17/2019 19:29,7/18/2019 5:55,No,Yes,E-Desh ...,No
19997,2610583,649604,170,MPS,Bagerhat,android,normal,25.0,7/17/2019 19:27,7/17/2019 15:42,No,Yes,Paperfly ...,No
19998,2610576,967577,409,MPD,Dhaka,android,normal,25.0,7/17/2019 19:20,7/17/2019 13:28,No,No,E-Desh ...,No
19999,2610572,970326,402,MPD,Moulvibazar,android,normal,60.0,7/17/2019 19:18,7/17/2019 13:45,No,Yes,Paperfly ...,Yes

# Data Exploration

## veriable Identification

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
OrderId                      20000 non-null int64
UserId                       20000 non-null int64
OrderValue                   20000 non-null int64
PaymentType                  20000 non-null object
District                     20000 non-null object
OrderSource                  20000 non-null object
OrderType                    19319 non-null object
DeliveryCharge               19999 non-null float64
OrderPlacedDay               20000 non-null object
OrderConfirmDayOverPhone     20000 non-null object
IsCartOrder                  20000 non-null object
OrderFromPromotionalEvent    20000 non-null object
 courierService              10000 non-null object
isRTO                        20000 non-null object
dtypes: float64(1), int64(3), object(10)
memory usage: 2.1+ MB

In [28]:
df.dtypes

OrderId                        int64
UserId                         int64
OrderValue                     int64
PaymentType                   object
District                      object
OrderSource                   object
OrderType                     object
DeliveryCharge               float64
OrderPlacedDay                object
OrderConfirmDayOverPhone      object
IsCartOrder                   object
OrderFromPromotionalEvent     object
 courierService               object
isRTO                         object
dtype: object

### Drop Unnecessary Columns

In [29]:
df.drop("OrderId", axis=1, inplace=True)
df.tail()

,UserId,OrderValue,PaymentType,District,OrderSource,OrderType,DeliveryCharge,OrderPlacedDay,OrderConfirmDayOverPhone,IsCartOrder,OrderFromPromotionalEvent,courierService,isRTO
19995,901210,187,MPD,Nilphamari,android,normal,60.0,7/17/2019 19:29,7/17/2019 13:33,No,Yes,Bangladesh Postal Service ...,Yes
19996,528636,235,MPS,Sylhet City,android,normal,0.0,7/17/2019 19:29,7/18/2019 5:55,No,Yes,E-Desh ...,No
19997,649604,170,MPS,Bagerhat,android,normal,25.0,7/17/2019 19:27,7/17/2019 15:42,No,Yes,Paperfly ...,No
19998,967577,409,MPD,Dhaka,android,normal,25.0,7/17/2019 19:20,7/17/2019 13:28,No,No,E-Desh ...,No
19999,970326,402,MPD,Moulvibazar,android,normal,60.0,7/17/2019 19:18,7/17/2019 13:45,No,Yes,Paperfly ...,Yes

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
UserId                       20000 non-null int64
OrderValue                   20000 non-null int64
PaymentType                  20000 non-null object
District                     20000 non-null object
OrderSource                  20000 non-null object
OrderType                    19319 non-null object
DeliveryCharge               19999 non-null float64
OrderPlacedDay               20000 non-null object
OrderConfirmDayOverPhone     20000 non-null object
IsCartOrder                  20000 non-null object
OrderFromPromotionalEvent    20000 non-null object
 courierService              10000 non-null object
isRTO                        20000 non-null object
dtypes: float64(1), int64(2), object(10)
memory usage: 2.0+ MB

## Univariate Analysis

In [31]:
df.describe()

              UserId    OrderValue  DeliveryCharge
count   20000.000000  20000.000000    19999.000000
mean   764778.585550    323.887900       32.538977
std    250551.644033    368.370536       24.673762
min        83.000000      0.000000        0.000000
25%    615149.000000    165.000000       25.000000
50%    887995.000000    235.000000       25.000000
75%    954996.000000    366.250000       55.000000
max    986270.000000  12800.000000      500.000000

## Missing Value Analysis

In [32]:
## Missing value
df.isna().sum()

UserId                           0
OrderValue                       0
PaymentType                      0
District                         0
OrderSource                      0
OrderType                      681
DeliveryCharge                   1
OrderPlacedDay                   0
OrderConfirmDayOverPhone         0
IsCartOrder                      0
OrderFromPromotionalEvent        0
 courierService              10000
isRTO                            0
dtype: int64

#### Here we see the OrderType, DeliveryCharge and courierService has missing value.

Replacing empty/null values with "NaN"

In [33]:
df=df.fillna("NaN")

In [34]:
df.isna().sum()

UserId                       0
OrderValue                   0
PaymentType                  0
District                     0
OrderSource                  0
OrderType                    0
DeliveryCharge               0
OrderPlacedDay               0
OrderConfirmDayOverPhone     0
IsCartOrder                  0
OrderFromPromotionalEvent    0
 courierService              0
isRTO                        0
dtype: int64

## Class Imbalance Analysis

In [35]:
for col in df.columns:
    print(df[col].value_counts())
    print()
    print("-----------------------------------------------------------")
    print()

816086    55
928321    42
893963    32
807767    29
953939    28
945288    23
616639    21
957998    20
869083    20
787154    20
973042    19
975437    17
978426    17
893567    17
955997    17
554254    16
97369     15
867826    14
630761    14
438153    14
581564    14
978900    14
954959    14
949513    14
927521    13
974400    13
737439    13
824313    13
809875    13
903541    13
          ..
983913     1
799519     1
977700     1
979751     1
854840     1
961340     1
158532     1
957258     1
955211     1
984313     1
975701     1
979799     1
959325     1
949094     1
926573     1
556920     1
930671     1
975733     1
959357     1
932734     1
865151     1
777090     1
938883     1
983542     1
645510     1
955275     1
897935     1
979863     1
878245     1
954370     1
Name: UserId, Length: 10932, dtype: int64

-----------------------------------------------------------

0       830
250     497
120     450
350     373
185     354
199     341
499     330
140     304
290     253
150     242
319     235
200     229
130     228
160     220
170     218
220     216
100     206
165     206
110     204
173     200
270     183
230     181
135     180
175     180
190     169
318     167
180     164
399     158
235     155
125     149
       ...
2389      1
4495      1
501       1
2021      1
1765      1
3700      1
1589      1
1189      1
981       1
2900      1
741       1
613       1
2660      1
597       1
1020      1
1340      1
532       1
1548      1
2340      1
1980      1
61        1
2180      1
237       1
948       1
2300      1
820       1
772       1
692       1
2380      1
1780      1
Name: OrderValue, Length: 790, dtype: int64

-----------------------------------------------------------

MPD                     15862
MPS                      3310
ADC                       523
OPS                       226
MPC                        54
E-COD                      24
EMI                         1
Name: PaymentType, dtype: int64

-----------------------------------------------------------

Dhaka                        7788
Gazipur                      1254
Chittagong City               828
Dhaka (Outside City)          651
Comilla                       534
Mymensingh                    409
Narayanganj                   407
Jessore                       310
Sylhet City                   305
Rangpur                       280
Chittagong (Outside City)     273
Noakhali                      269
Dinajpur                      258
Bogra                         247
Sylhet (Outside City)         200
Kushtia                       191
Rajshahi City                 190
Tangail                       185
khulna City                   184
khulna (Outside City)         181
Pabna                         175
Narsingdi                     171
Cox's-Bazar                   171
Barisal                       170
Habiganj                      170
Feni                          170
Chandpur                      166
Gaibandha                     166
Jamalpur                      158
Thakurgaon                    151
                             ...
Lakshmipur                    107
Jhenaidah                     105
Kishoreganj                   101
Chuadanga                      99
Sirajganj                      95
Sherpur                        94
Naogaon                        94
Munshiganj                     91
Madaripur                      87
Panchagarh                     87
Netrokona                      87
Manikganj                      87
Pirojpur                       86
Bhola                          84
Shariatpur                     83
Meherpur                       78
Magura                         75
Rajshahi (Outside City)        74
Patuakhali                     69
Gopalganj                      68
Natore                         64
Lalmonirhat                    62
Joypurhat                      60
Khagrachhari                   60
Barguna                        45
Rajbari                        37
Rangamati                      31
Narail                         28
Jhalokati                      24
Bandarban                      13
Name: District, Length: 69, dtype: int64

-----------------------------------------------------------

android           17520
mobile-site        1377
desktop             674
-1                  276
Others               62
byphone              58
A2I                  24
ajkerdeal             7
www.google.com        2
Name: OrderSource, dtype: int64

-----------------------------------------------------------

normal     17998
express     1321
NaN          681
Name: OrderType, dtype: int64

-----------------------------------------------------------

25.0     5895
0.0      4727
55.0     3330
60.0     2364
35.0     1225
30.0     1069
75.0      794
65.0      390
45.0       57
50.0       44
200.0      36
95.0       34
100.0      24
19.0        2
20.0        1
10.0        1
24.0        1
500.0       1
26.0        1
NaN         1
120.0       1
150.0       1
54.0        1
Name: DeliveryCharge, dtype: int64

-----------------------------------------------------------

7/24/2019 17:11    20
6/15/2019 16:23    16
7/20/2019 14:31    14
7/29/2019 0:48     13
7/18/2019 15:51    13
7/23/2019 22:15    13
7/24/2019 12:57    12
6/4/2019 2:40      12
7/20/2019 15:29    11
7/19/2019 10:09    11
7/22/2019 18:16    11
7/22/2019 22:44    11
6/9/2019 16:37     11
7/21/2019 11:11    10
7/25/2019 22:29    10
7/22/2019 4:21     10
7/20/2019 19:35     9
6/15/2019 14:55     9
7/29/2019 20:26     9
7/22/2019 0:28      9
7/22/2019 19:28     9
6/8/2019 14:07      9
7/22/2019 17:22     9
7/25/2019 16:35     9
7/26/2019 9:19      9
6/17/2019 22:09     9
7/23/2019 20:25     9
6/1/2019 17:50      9
6/12/2019 7:36      8
6/11/2019 19:10     8
                   ..
6/14/2019 21:34     1
6/9/2019 20:46      1
6/10/2019 12:26     1
7/26/2019 12:25     1
7/29/2019 20:29     1
7/20/2019 16:45     1
6/19/2019 16:38     1
6/17/2019 17:05     1
7/19/2019 13:42     1
6/13/2019 20:16     1
6/21/2019 11:55     1
6/21/2019 11:34     1
7/28/2019 1:57      1
7/25/2019 1:13      1
6/21/2019 20:19     1
7/28/2019 17:52     1
7/27/2019 17:38     1
7/19/2019 23:54     1
6/11/2019 17:25     1
7/27/2019 15:41     1
7/24/2019 11:21     1
7/28/2019 18:03     1
7/20/2019 22:20     1
7/22/2019 2:48      1
6/14/2019 13:57     1
6/14/2019 22:10     1
6/24/2019 6:42      1
7/28/2019 2:12      1
7/28/2019 16:47     1
6/9/2019 17:05      1
Name: OrderPlacedDay, Length: 13353, dtype: int64

-----------------------------------------------------------

6/15/2019 7:01     19
6/15/2019 10:37    16
7/20/2019 8:41     15
7/24/2019 11:17    15
7/28/2019 7:00     13
7/20/2019 14:17    12
7/28/2019 2:12     12
6/4/2019 6:51      12
7/23/2019 9:26     12
7/29/2019 2:17     11
7/20/2019 9:37     11
7/22/2019 12:18    11
7/18/2019 9:53     11
7/30/2019 2:25     11
7/23/2019 16:32    11
7/24/2019 2:35     10
7/22/2019 2:25     10
7/26/2019 6:51     10
7/22/2019 2:46     10
6/9/2019 11:18     10
7/20/2019 15:53    10
6/15/2019 9:05     10
6/8/2019 8:10      10
7/29/2019 14:28     9
7/26/2019 3:21      9
7/25/2019 10:40     9
7/22/2019 2:48      9
7/24/2019 6:10      9
7/20/2019 13:40     9
7/22/2019 16:47     9
                   ..
6/17/2019 11:08     1
6/22/2019 13:10     1
7/24/2019 7:10      1
7/25/2019 3:11      1
7/25/2019 3:41      1
7/21/2019 4:40      1
6/13/2019 2:53      1
7/19/2019 11:27     1
7/30/2019 2:35      1
7/22/2019 4:01      1
6/19/2019 14:40     1
6/15/2019 11:13     1
7/18/2019 4:02      1
7/22/2019 4:15      1
6/9/2019 8:40       1
7/28/2019 4:01      1
7/26/2019 15:04     1
6/16/2019 3:49      1
6/23/2019 13:30     1
6/24/2019 17:30     1
7/20/2019 6:15      1
6/2/2019 16:41      1
6/10/2019 13:11     1
6/1/2019 11:23      1
6/2/2019 6:20       1
6/22/2019 4:04      1
7/22/2019 7:12      1
7/25/2019 14:06     1
6/1/2019 15:33      1
7/26/2019 13:42     1
Name: OrderConfirmDayOverPhone, Length: 12025, dtype: int64

-----------------------------------------------------------

No     11660
Yes     8340
Name: IsCartOrder, dtype: int64

-----------------------------------------------------------

Yes    10670
No      9330
Name: OrderFromPromotionalEvent, dtype: int64

-----------------------------------------------------------

NaN                                                                                                     10000
E-Desh                                                                                                   5020
Paperfly                                                                                                 3584
Bangladesh Postal Service                                                                                1120
E-Courier LTD                                                                                             268
Office Delivery                                                                                             6
Delivery Tiger                                                                                              2
Name:  courierService , dtype: int64

-----------------------------------------------------------

No     17318
Yes     2682
Name: isRTO, dtype: int64

-----------------------------------------------------------

Here we see the OrderSource field has Imbalance data as "-1" which didn't mean anything to us. As it can't be determine as order source we're going to marge this data with "Others" value.

In [36]:
df["OrderSource"] = df["OrderSource"].replace(to_replace ="-1", value ="Others")

In [37]:
df

,UserId,OrderValue,PaymentType,District,OrderSource,OrderType,DeliveryCharge,OrderPlacedDay,OrderConfirmDayOverPhone,IsCartOrder,OrderFromPromotionalEvent,courierService,isRTO
0,663791,168,MPD,Dhaka,android,normal,25,6/26/2019 9:20,6/26/2019 3:30,No,Yes,NaN,No
1,961083,240,MPD,Dhaka,mobile-site,normal,35,6/25/2019 19:05,6/25/2019 13:40,No,Yes,NaN,No
2,848517,120,MPD,Dhaka,desktop,normal,35,6/25/2019 15:28,6/25/2019 9:27,No,Yes,NaN,Yes
3,276304,185,MPD,Dhaka,android,normal,25,6/25/2019 13:27,6/25/2019 7:27,Yes,No,NaN,No
4,955384,201,MPD,Dhaka,android,normal,25,6/25/2019 12:13,6/25/2019 6:56,No,Yes,NaN,No
5,832391,155,MPD,Dhaka,android,normal,25,6/25/2019 11:07,6/25/2019 13:11,No,Yes,NaN,No
6,832391,105,MPD,Dhaka,android,normal,25,6/25/2019 10:50,6/25/2019 13:11,No,No,NaN,No
7,442723,120,MPD,Dhaka,android,normal,25,6/25/2019 10:50,6/25/2019 4:49,No,Yes,NaN,No
8,959412,499,MPD,Cox's-Bazar,android,normal,55,6/25/2019 10:40,6/25/2019 5:05,No,No,NaN,Yes
9,959412,159,MPD,Cox's-Bazar,android,normal,55,6/25/2019 10:30,6/25/2019 4:36,No,No,NaN,Yes
10,960883,726,MPD,Dhaka,android,normal,25,6/25/2019 10:29,6/25/2019 4:39,No,No,NaN,No
11,863971,75,MPD,Dhaka,Others,NaN,25,6/25/2019 10:11,6/25/2019 4:40,No,No,NaN,No
12,568726,120,ADC,Dhaka,android,normal,25,6/25/2019 10:02,6/25/2019 4:59,No,No,NaN,No
13,765955,490,MPD,Dhaka,android,normal,25,6/25/2019 10:01,6/25/2019 4:01,Yes,No,NaN,No
14,19523,899,MPD,Dhaka,mobile-site,normal,35,6/25/2019 9:45,6/25/2019 4:45,No,No,NaN,No
15,765955,1400,MPD,Dhaka,mobile-site,normal,35,6/25/2019 9:33,6/25/2019 3:32,No,No,NaN,No
16,177606,139,MPD,Dhaka,android,normal,25,6/25/2019 9:31,6/25/2019 3:31,Yes,No,NaN,No
17,960859,575,MPD,Dhaka,mobile-site,normal,35,6/25/2019 9:09,6/25/2019 4:19,No,No,NaN,No
18,118462,486,MPC,Dhaka,Others,NaN,35,6/25/2019 8:32,6/25/2019 2:37,No,No,NaN,No
19,195000,365,MPD,Dhaka,android,normal,25,6/25/2019 8:04,6/25/2019 2:04,No,No,NaN,No
20,907237,147,MPD,Dhaka,android,normal,25,6/25/2019 6:06,6/25/2019 0:05,No,No,NaN,No
21,637778,284,MPD,Dhaka,android,normal,25,6/25/2019 3:46,6/25/2019 4:48,No,No,NaN,No
22,32724,199,MPD,Dhaka,mobile-site,normal,0,6/25/2019 3:23,6/25/2019 2:34,Yes,Yes,NaN,No
23,960811,100,MPD,Dhaka,mobile-site,normal,35,6/25/2019 3:06,6/25/2019 6:01,No,Yes,NaN,No
24,228424,167,MPD,Dhaka,android,normal,25,6/25/2019 3:04,6/25/2019 7:55,No,Yes,NaN,No
25,208235,319,MPD,Dhaka,android,normal,25,6/25/2019 1:01,6/25/2019 4:48,No,Yes,NaN,No
26,960776,545,MPD,Dhaka,android,normal,25,6/25/2019 0:19,6/25/2019 4:11,Yes,No,NaN,No
27,930671,120,MPD,Dhaka,mobile-site,normal,35,6/25/2019 0:09,6/25/2019 3:01,No,Yes,NaN,No
28,960744,135,MPD,Dhaka,android,normal,25,6/25/2019 0:04,6/25/2019 2:48,No,No,NaN,No
29,960750,140,MPD,Dhaka,android,normal,25,6/24/2019 23:42,6/24/2019 17:45,No,Yes,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,838270,173,MPD,Kishoreganj,android,normal,60,7/17/2019 19:53,7/17/2019 14:24,No,Yes,Paperfly ...,Yes
19971,661470,139,ADC,Dhaka,android,normal,25,7/17/2019 19:52,7/17/2019 13:55,No,No,E-Desh ...,No
19972,627359,130,ADC,Feni,android,normal,25,7/17/2019 19:50,7/17/2019 13:53,No,No,Bangladesh Postal Service ...,No
19973,259845,156,MPD,Dhaka,mobile-site,normal,35,7/17/2019 19:50,7/17/2019 14:05,No,No,E-Desh ...,No
19974,974188,144,MPD,Dhaka,android,normal,25,7/17/2019 19:50,7/17/2019 13:57,Yes,Yes,E-Desh ...,No
19975,893050,350,MPD,Jhenaidah,android,normal,0,7/17/2019 19:48,7/17/2019 13:54,Yes,Yes,Bangladesh Postal Service ...,No
19976,893050,220,MPD,Jhenaidah,android,normal,0,7/17/2019 19:48,7/17/2019 13:54,Yes,Yes,Bangladesh Postal Service ...,No
19977,893050,267,MPD,Jhenaidah,android,normal,0,7/17/2019 19:48,7/17/2019 13:54,Yes,Yes,Bangladesh Postal Service ...,No
19978,893050,319,MPD,Jhenaidah,android,normal,0,7/17/2019 19:48,7/17/2019 13:54,Yes,Yes,Bangladesh Postal Service ...,No
19979,974291,184,MPD,Brahmanbaria,android,normal,25,7/17/2019 19:46,7/17/2019 14:47,Yes,No,Paperfly ...,No
19980,651315,200,ADC,Dhaka,android,normal,25,7/17/2019 19:46,7/17/2019 14:02,No,No,E-Desh ...,No
19981,935961,130,MPD,Dhaka,android,normal,25,7/17/2019 19:45,7/17/2019 14:56,No,Yes,E-Desh ...,No
19982,974999,290,MPD,Chittagong City,mobile-site,normal,65,7/17/2019 19:45,7/17/2019 14:19,No,Yes,Paperfly ...,No
19983,974278,173,MPD,Mymensingh,android,normal,60,7/17/2019 19:42,7/17/2019 16:23,No,Yes,Bangladesh Postal Service ...,Yes
19984,331620,470,MPD,Chittagong (Outside City),android,normal,25,7/17/2019 19:42,7/17/2019 13:52,Yes,Yes,Bangladesh Postal Service ...,No
19985,331620,170,MPD,Chittagong (Outside City),android,normal,60,7/17/2019 19:42,7/17/2019 13:52,Yes,Yes,Bangladesh Postal Service ...,No
19986,974291,190,MPD,Brahmanbaria,android,normal,60,7/17/2019 19:42,7/17/2019 14:47,Yes,No,Paperfly ...,No
19987,289476,235,MPD,Mymensingh,android,normal,60,7/17/2019 19:40,7/17/2019 14:39,No,Yes,Paperfly ...,No
19988,870236,190,MPD,Thakurgaon,android,normal,60,7/17/2019 19:40,7/17/2019 13:43,No,Yes,Bangladesh Postal Service ...,No
19989,914585,199,MPD,Dhaka,android,normal,25,7/17/2019 19:39,7/17/2019 13:40,No,Yes,E-Desh ...,No
19990,965806,1749,MPS,Jessore,android,normal,0,7/17/2019 19:39,7/17/2019 13:56,Yes,No,Paperfly ...,No
19991,972179,235,MPD,Dhaka,android,normal,25,7/17/2019 19:38,7/17/2019 13:42,No,Yes,E-Desh ...,Yes
19992,974291,249,MPD,Brahmanbaria,android,normal,60,7/17/2019 19:34,7/17/2019 14:47,No,No,Paperfly ...,No
19993,974233,175,MPD,Munshiganj,android,normal,60,7/17/2019 19:34,7/17/2019 14:50,No,No,Paperfly ...,No
19994,805925,319,MPD,Gazipur,android,normal,60,7/17/2019 19:30,7/17/2019 16:59,No,Yes,Paperfly ...,No
19995,901210,187,MPD,Nilphamari,android,normal,60,7/17/2019 19:29,7/17/2019 13:33,No,Yes,Bangladesh Postal Service ...,Yes
19996,528636,235,MPS,Sylhet City,android,normal,0,7/17/2019 19:29,7/18/2019 5:55,No,Yes,E-Desh ...,No
19997,649604,170,MPS,Bagerhat,android,normal,25,7/17/2019 19:27,7/17/2019 15:42,No,Yes,Paperfly ...,No
19998,967577,409,MPD,Dhaka,android,normal,25,7/17/2019 19:20,7/17/2019 13:28,No,No,E-Desh ...,No
19999,970326,402,MPD,Moulvibazar,android,normal,60,7/17/2019 19:18,7/17/2019 13:45,No,Yes,Paperfly ...,Yes